body{
  
}

.nav-links{
  padding-top: 5px;
  padding-bottom: 5px;
  background-color:rgb(231, 93, 93);
  font-family: 'Noto Sans KR', sans-serif;
  color: white;
  flex-wrap: wrap;
}

.nav-links > div {
  align-items: center;
}

.icon-section{
  justify-content: flex-start;
}

.links-section{
  justify-content: flex-end;
}

.links-section > div{
  margin-right: 30px;
}

.navbar-icons{
  width: 20px;
  height: 20px;
}

.mini-house{
  width: 35px;
  height: 35px;
  flex: 1;
}
.site-name{
  font-weight: 700;
  font-size: 35px;
  flex:5;
}

.break-small {
  flex-basis: 0%; 
  height: 0;
}

.main-content{
  display: grid;
  grid-template-columns: 2fr 5fr 2fr;
  background-image: url(banner-bogota.jpg);
  background-size: 1500px 720px;
  height: 550px;
  max-width: 1500px;
  background-repeat: no-repeat;
  background-position: center center;
  margin: auto;
}

.search-section{
  margin-top: 100px;
  grid-column: 2;
  grid-row: 1;
}

.search-section > * {
  flex-basis: 100%;
}

.search-section > h3 {
  color: white;
  font-size: 40px;
  font-weight: 700;
}

.form-grid{
  display: grid;
  grid-template-columns: 5fr 1fr;
  grid-template-rows: repeat(2, 50px);
  font-size: 24px;
  font-weight: 700;
  background-color: rgb(255,255,255, 0.5);
  padding: 50px;
  border-radius: 25px;
}

.form-grid > label {
  grid-row: 1;
  grid-column: 1;
}

.form-grid > input {
  grid-row: 2;
  grid-column: 1;
}

.form-grid > button{
  color: white;
  background-color: rgb(231, 93, 93);
  border: 0;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  grid-row: 2;
  grid-column: 2;
}

.tutorial{
  display: flex;
  justify-content: center;
  align-items: center;
}

.tutorial > button {
  background-color: rgb(127,127,127,0.8);
  border-radius: 4px;
}

.grid-footer{
  padding: 50px 100px 50px 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 1fr;
  grid-gap: 50px;
}

.grid-footer > div {
  align-items: center;
  /* justify-content: center; */
  color: rgb(127,127,127);
}

.grid-footer > div > p {
  text-align: justify;
  margin-top: 5px;
  margin-bottom: 5px;
}

.footer-icon{
  width: 35px;
  height: 35px;
}

.social-icons > i {
  font-size: 20px;
  color: rgb(102, 102, 102);
  padding-left: 5px;
  padding-right: 5px;
}

.social-icons > i:hover {
  color: rgb(73, 73, 182);
  cursor: pointer;
}

.footer-links {
  list-style-type: none;
  padding-left: 0;
}

.footer-links > li:not(:last-of-type) {
  border-right: 1px solid lightgrey;
}
.footer-links > li {
  display: inline-block;
  padding-right: 10px;
  font-size: 15px;
  color: rgb(128, 128, 128);
  padding-left: 0;
}

.flex-1{
  flex: 1;
}

.flex-2{
  flex: 2;
}

.flex-3{
  flex: 3;
}

.flex-4{
  flex: 4;
}

.flex-5{
  flex: 5;
}

.flex-6{
  flex: 6;
}

.flex-7{
  flex: 7;
}

.flex-8{
  flex: 8;
}

.flex-9{
  flex: 9;
}

.flex-10{
  flex: 10;
}

.flex-11{
  flex: 11;
}

.flex-12{
  flex: 12;
}

.grid-1-1 {
  grid-row: 1;
  grid-column: 1;
}

.grid-1-2 {
  grid-row: 1;
  grid-column: 2;
}

.grid-2-1 {
  grid-row: 2;
  grid-column: 1;
}

.grid-2-2 {
  grid-row: 2;
  grid-column: 2;
}

@media only screen and (max-width: 1024px) {
  .grid-footer{
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 2fr 1fr 1fr;
    grid-gap: 25px;
  }

  .links-section > div > span {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .break-small {
    flex-basis: 100%;
  }

  .form-grid{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 50px);
  }

  .form-grid > button{
    grid-row: 3;
    grid-column: 1;
  }

  .icon-section,
  .links-section{
    justify-content: center;
  }

  .mini-house,
  .site-name{
    flex: none;
    margin-left: 5px;
    margin-right: 5px;
  }
}